@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dévavári Dániel<br />
    9026 Győr Kertész utca 8<br />
    <abbr title="Phone">P:</abbr>
    +36 30 458 5092
</address>

<address>
    <strong>Support:</strong> <a href="mailto:daniel.devavari@gmail.com">daniel.devavari@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:daniel.devavari@gmail.com">dace0854@gmail.com</a>
</address>
